#docker
docker/shared_directory/**
docker/*
!docker/Dockerfile
!docker/README.md

#ansible
ansible/roles/common/files/**
ansible/roles/patsite/vars/**
ansible/roles/patsite/files/app_files/shared_files/**



