{% extends 'base.html' %}

{% block title %}
  <title>Letter Boxed Helper</title>
{% endblock %}

{% block content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body class="w3-content" style="max-width:1300px">
  <div class="w3-row">
      <div class="w3-half w3-red w3-container w3-center" style="height:{{ length }}px">
      <div class="w3-padding-64 w3-padding-large">
        <h1>Letter Box Solutions</h1>
        <div class="w3-card w3-dark-grey">
          <ul>
            <li>Below are today's solutions for the <a href="https://www.nytimes.com/puzzles/letter-boxed">New York Times Letter Boxed puzzle</a>.</li>
          </ul>
          <p>One Word Solutions</p>
            <details>
              <summary>Show Solutions</summary>
            {% if oneWord %}
            <ul>
                {% for word in oneWord %}
                  <li>{{ word.capitalize() }}</li>
                {% endfor %}
            </ul>
            {% else %}
              <p> No one word solutions found </p>
            {% endif %}
            </details>
          <p>Two Word Solutions</p>
            {% if twoWord %}
            <details>
              <summary>Show Solutions</summary>
            <ul>
              {% for set in twoWord %}
                {% for word in set %}
                  {% if word == set[0] %}
                    <li>{{ word.capitalize() }},
                  {% else %}
                    {{ word.capitalize() }}&nbsp;</li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
            {% else %}
              <p>No two word solutions found</p>
            {% endif %}
            </details>
        </div>
      </div>
    </div>
      <div class="w3-half w3-black w3-container" style="height:{{ length }}px">
        <div class="w3-padding-64 w3-padding-large">
          <div class="w3-center">
            <h1>Letter Box Helper</h1>
          </div>
          <ul><li>Use this tool to help find your next word for the New York Times Letter Boxed puzzle!</li></ul>
          
    <form class="w3-padding-32" method="post">
        <div class="starter-section w3-card w3-dark-grey w3-container w3-padding-32">
          <ul>
            <li>Select the letter your next word should start with.</li>
          </ul>
        {% for side in sides %}
            {% for letter in side %}
            <div class="w3-half">
              <label for="starting letter"><input class="w3-radio" style="width:30%;" type="radio" name="starter" id="starter" value="{{letter}}" required>{{letter}}</label>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
        <div class="w3-container w3-padding-32">
        </div>
      <div class="remaining-section w3-padding-32 w3-card w3-dark-grey">

        <div class="w3-half">
          <ul>
            <li>Check the letters from the puzzle that you still need to use.</li>
          </ul>
        </div>
        <div class="w3-half">
          <ul>
            <li>Hit "Submit" to generate a list of words matching your criteria.</li>
          </ul>
        </div>
        {% for side in sides %}
          {% for letter in side %}
            <div class="w3-half">
                <label for="remaining letters"><input class="w3-check" style="width:30%;" type="checkbox" name="remaining[]" id="remaining-{{letter}}" value="{{letter}}">{{letter}}</label>
            </div>
          {% endfor %}
        {% endfor %}

        <button type="submit" class="w3-button w3-red w3-center">Submit</button>
      </div>
    </form>

      </div>
      </div>
    </div
  </div>
  </body>
{% endblock %}
